#img-container {
  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
  grid-template-areas: "leftBtn picture rightBtn";
}

#left,
#right {
  display: grid;
  place-content: center;
}

#left {
  grid-area: leftBtn;
}

#right {
  grid-area: rightBtn;
}

#left,
#right {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#left:hover > img,
#right:hover > img {
  filter: invert(28%) sepia(62%) saturate(1544%) hue-rotate(162deg)
    brightness(98%) contrast(89%);
}

#left img,
#right img {
  min-width: 50px;
}

#picture {
  grid-area: picture;
  position: relative;
  display: flex;
}

#picture img {
  border-radius: 10px;
  min-width: 100%;
  object-fit: cover;
}

#dots {
  display: flex;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  position: absolute;
  border-radius: 25px;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
}

.fill {
  background-color: white;
}

.dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
